@using FreakyFashion.Entities
@model List<Product>

<h3 class="mt-3 mb-3">Rekommenderat för dig</h3>
<div class="row">
    @foreach (var product in Model.Take(4))
    {
        <div class="col-md-3 mb-3 d-flex align-items-stretch">
            <div class="card">
                <div class="view">
                    <a asp-page="/Product" asp-route-urlSlug="@product.UrlSlug">
                        <img src="@product.ImageUrl" class="card-img-top"
                             alt="@product.Name" style="max-height:320px;">
                    </a>
                    <div class="mask rgba-white-slight"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <p class="card-text">@product.Price SEK</p>
                </div>
            </div>
        </div>
    }
</div>
